<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them with me</p>
    <hr>
    <img class="home-image" src="images/pooh1.jpg" alt="pooh1"><br><br>

    <a class="btn btn-light btn-lg" href="/register"  role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/header') %>
